html, body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  font-size: 0.14rem;
}

@media (max-width: 750px) {
  html, body {
    font-size: 0.28rem;
  }
}

body {
  background: #fff;
  color: #08112C;
  font-family: 'Inter', 'PingFang SC Bold', 'PingFang SC',
  'Microsoft Yahei', Helvetica Neue, Helvetica, Arial, sans-serif;
  
}

a {
  font-family: inherit;
}
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: rgba(125, 125, 125, 0.7);
  -webkit-border-radius: 6px;
}
