:root {
  --color-green: #00D67C;
  --color-yellow: rgba(255, 199, 61, 1);
  --color-red: #ff2a70;
  --color-pink: #c93e6c;
  --green-background: rgba(0, 175, 124, 0.15);
  --green-background-dark: rgba(0, 175, 124, 0.1);
  --color-base: #fff;
  --color-content: rgba(255, 255, 255, 0.8);
  --color-content__6: rgba(255, 255, 255, 0.6);
  --color-des: rgba(255, 255, 255, 0.3);
  --color-content__card: rgba(255, 255, 255, 0.1);
  --border-common: 1px solid #333333;
  --gray-background: #121212;
}
